
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge color="danger" *ngIf="unreadNotifications > 0">{{ unreadNotifications }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="perfil">
    <div class="content">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="./assets/avatar.png" />
      </ion-avatar>
      <div class="title">
        <h2>Olá, Raquel Vieira Souza</h2>
      </div>
      <div class="subtitle">
        <p>Parabéns! Seu perfil é <b>OURO</b> 🎉</p>
      </div>
      <div class="cupons">
        <div class="cupons-title">
          <p>Separamos alguns cupons para você!</p>
        </div>
        <div class="cupons-vallet">
          <img src="./assets/cupom.png" alt="">
        </div>
        <div class="cupons-vallet">
          <img src="./assets/cupom2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</ion-content>
