<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="vacinas">
    <div class="vacinas-title">
      <h2>Vacinas</h2>
    </div>
    <div class="vacinas-title">
      <h3>Em atraso:</h3>
    </div>
    <div class="vacinas-list">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Hepatite B</ion-card-title>
          <ion-card-subtitle>23/05/2024</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Procure uma unidade básica de saúde e regularize. 
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Febre Amarela</ion-card-title>
          <ion-card-subtitle>12/02/2024</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Procure uma unidade básica de saúde e regularize. 
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <br>
  <div class="vacinas">
    <div class="vacinas-title">
      <h3>Em dia:</h3>
    </div>
    <div class="vacinas-list">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Dupla Adulto</ion-card-title>
          <ion-card-subtitle>15/11/2023</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Responsável: Adriana Monteiro <br>
          CNES: 2051141 
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Febre Amarela</ion-card-title>
          <ion-card-subtitle>12/02/2024</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Responsável: Renata Lima <br>
          CNES: 6903576
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
