ion-content .vacinas .vacinas-list ion-card{
    margin: 10px 0;
}

.vacinas .vacinas-title h2{
    font-size: 22px;
    color: #464646;
    margin: 0 0 10px 0;
    font-weight: 600;
}

.vacinas .vacinas-title h3{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #464646;
}

ion-card ion-card-title{
    color: #A62B1F;
    font-weight: 600;
    font-size: 20px;
}

ion-card ion-card-subtitle{
    font-weight: 500;
}

ion-card ion-card-content{
    font-size: 16px;
}