<ion-header>
  <ion-toolbar>
    <ion-title>Notificações</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Raquel, você possui vacinas em atraso, regularize!</ion-label>
      <span>08:00</span>
    </ion-item>
    <ion-item>
      <ion-label>Houve aumento em casos de dengue em sua região.</ion-label>
      <span>09:15</span>
    </ion-item>
    <ion-item>
      <ion-label>Parabéns Raquel, você ganhou novos cupons! 🎉</ion-label>
      <span>11:45</span>
    </ion-item>
  </ion-list>
</ion-content>
