ion-menu-button {
  color: var(--ion-color-primary);
}

.campanhas {
  padding: 0 15px;
}

.campanhas .content{
  padding: 30px 0 0 0;
}

.campanhas .content .content-title{
  margin: 0 0 10px 0;
}

.campanhas .content .content-title h2{
  margin: 0;
  font-size: 22px;
  color: #464646;
}

.campanhas .content .content-urgente{
  margin: 0 0 20px 0;
}

.campanhas .content .content-urgente .image{
  height: 195px;
  overflow: hidden;
  margin: 0 0 10px 0;
}

.campanhas .content .content-urgente .image img{
  max-width: 100%;
  height: auto;
}

.campanhas .content .content-urgente .title{
  margin: 0 0 5px 0;
}

.campanhas .content .content-urgente .title h2{
  margin: 0;
  font-size: 18px;
  color: #464646;
}

.campanhas .content .content-urgente .subtitle{
  margin: 0 0 15px 0;
}

.campanhas .content .content-urgente .subtitle p{
  margin: 0;
}

.campanhas .content .content-urgente .plus{
  text-align: center;
}

.campanhas .content .content-urgente .plus a{
  padding: 5px 15px;
  background-color: #004acd;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

ion-content{
  padding: 0 15px;
}

ion-menu-button .button-native{
  font-size: 20px;
}