<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge color="danger" *ngIf="unreadNotifications > 0">{{ unreadNotifications }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div class="campanhas">
      <div class="campanhas-title">
        <h2>Útimas notícias</h2>
      </div>
      <div class="content">
        <div class="content-urgente">
          <div class="image">
            <img src="./assets/img_destaque_campanha.jpg" alt="">
          </div>
          <div class="title">
            <h2>Dengue avança em Presidente Prudente e provoca mortes</h2>
          </div>
          <div class="subtitle">
            <p>Vacinas contra dengue já estão disponíveis próximo a sua localidade...</p>
          </div>
          <div class="plus">
            <a href="#">Ver mais</a>
          </div>
        </div>
        <div class="content-urgente">
          <div class="image">
            <img src="./assets/img_sarampo_campanha.jpeg" alt="">
          </div>
          <div class="title">
            <h2>Sarampo atinge crianças em Presidente Prudente e acende alerta de saúde</h2>
          </div>
          <div class="subtitle">
            <p>Especialistas fazem alerta sobre a crescente incidência de sarampo em crianças, principalmente nas áreas com baixa cobertura vacinal...</p>
          </div>
          <div class="plus">
            <a href="#">Ver mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
